<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EF" value="c:\t.cs"/>
  </appSettings>
  <connectionStrings>
    <add name="toop" connectionString="data source=.\sqlexpress;initial catalog=hzzfcg;persist security info=True;user id=sa;password=china123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>